.button{   
  padding: 8px auto;
  color: #FFFF;
  background-color: #1890FF;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 21px;
  cursor: pointer;
  width: 320px;
  height: 40px;
}